<a href="https://colab.research.google.com/github/thiagomirandahs/python/blob/main/AT1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# mostrar na tela
print('Olá ETE CÍCERO DIAS')

Olá ETE CÍCERO DIAS

In [9]:
#mostra um numero na tela
a = int(input('Digite um Numero: '))
print(f'O numero informado foi: {a}')

Digite um Numero: 20
O numero informado foi: 20

In [10]:
#faz a soma de 2 numeros
a = int(input('Digite o primeiro numero: '))
b = int(input('Digite o segundo numero: '))
print(a+b)

Digite o primeiro numero: 10
Digite o segundo numero: 20
30

In [15]:
#da a media
nota1 = int(input("Digite primeira nota: "))
nota2 = int(input("Digite segunda nota: "))
nota3 = int(input("Digite terceira nota: "))
nota4 = int(input("Digite quarta nota: "))
resultado = (nota1 + nota2 + nota3 + nota4) / 4
print(resultado)

Digite primeira nota: 4
Digite segunda nota: 5
Digite terceira nota: 8
Digite quarta nota: 7
6.0

In [17]:
#converter metros em centimetros
metros = float(input('Digite a medida em metros'))
centimetros = metros * 100
print(f'A converção de {metros} para centimetros é : {centimetros}')

Digite a medida em metros10
A converção de 10.0 para centimetros é : 1000.0

In [21]:
#calculo de area de um circulo
raio = float(input("Digite o Raio: "))
area = 3.14 * raio**2
print(f'A area do quadrado é {area}')

Digite o Raio: 2
A area do quadrado é 12.56

In [24]:
# calculo de area de um quadrado
base = int(input("Digite o primeiro numero: "))
altura = int(input("Digite o primeiro numero: "))
area = (base * altura)
dobro_da_area = area *2
print(f'A area é {area} m²')
print(f'o dobro da area é {dobro_da_area} m²')

Digite o primeiro numero: 40
Digite o primeiro numero: 50
A area é 2000 m²
o dobro da area é 4000 m²

In [32]:
#calculo de salario

valor_por_hora = float(input("Quanto você recebe por hora : "))
horas_trabalhadas = float(input("Quantas horas voce trabalhou :  "))
dias_trabalhados = float(input("Quantos dias você trabalhou  : "))
salario = (valor_por_hora * horas_trabalhadas * dias_trabalhados)
print(f'Seu salário é {salario}')

Quanto você recebe por hora : 10
Quantas horas voce trabalhou :  9
Quantos dias você trabalhou  : 30
Seu salário é 2700.0

In [35]:
#mostrar se é negativo ou positivo
numero = float(input('Digite um numero'))
if numero > 0:
    print('O número é positivo')
else:
    print('O Número é negativo')

Digite um numero2
O número é positivo

In [39]:
#descobrindo genero
genero = input("digite 'f' para Feminino ou 'm' para Masculino")
if genero == 'f':
  print('Sexo Feminino')
elif genero == 'm':
  print('Sexo Masculino')
else:
  print('Sexo Invalido')

digite 'f' para Feminino ou 'm' para Masculinof
Sexo Feminino